.content,
.entry {
  a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  strong {
    font-weight: 700;
  }
  em {
    font-style: italic;
  }
  p {
    font-family: $font-family-base;
    line-height: 1.68;
    color: $steel;
  }
  h1 {
    font-family: $font-family-heading;
    font-size: 38px;
    line-height: 1.14;
    font-weight: 500;
    color: $black;
    margin-top: 34px;
    margin-bottom: 22px;
  }
  h2 {
    font-family: $font-family-heading;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.22;
    color: $black;
    margin-top: 34px;
  }
  h3 {
    font-family: $font-family-heading;
    font-size: 22px;
    line-height: 1.28;
    font-weight: 500;
    color: $black;
    margin-top: 30px;
  }
  ul,
  ol {
    padding-left: 1.5rem;
    margin-bottom: 20px;
    ul,
    ol {
      margin-bottom: 0;
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  li {
    margin-bottom: 5px;
    line-height: 1.62;
    color: $steel;
  }
  hr {
    border: none;
    border-bottom: 1px solid $border;
  }
  table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    th,
    td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid $border;
    }
    thead th {
      vertical-align: bottom;
      border-bottom: 1px solid $border;
      text-align: left;
      font-weight: bold;
    }
    tbody + tbody {
      border-top: 1px solid $white-offset;
    }
  }
  blockquote {
    padding: 0.2em 1.2em;
    color: $steel;
    border-left: .25em solid $secondary;
    background: rgba($secondary, 0.1);
  }
}
