.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
  filter: drop-shadow(0 20px 32px rgba($black, 0.12));
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -42px;
    left: -40px;
    width: 700px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -52px;
    left: -50px;
    width: 800px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -86px;
    left: -64px;
    width: 850px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
