---
layout: default
bodyClass: page-services-list
---
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
      <article class="post">
          <h1>{{ page.title }}</h1>
          <div class="entry">
            {{ content }}
          </div>

          <div class="date">
            Written on {{ page.date | date: "%B %e, %Y" }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

 
<div class="container pt-6 pb-6">
  <div class="row">
    {% for service in site.posts %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          <p>{{ service.excerpt | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
